<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="firstCtr">
		名:<input type="text" ng-model="firstName"><br>
		姓:<input type="text" ng-model="lastName"><br>
		全名:{{fullname()}}
	</div>
	<script>
		var app = angular.module("myApp",[]);
		app.controller("firstCtr",function($scope){
			$scope.firstName = "利娟";
			$scope.lastName = "刘";
			$scope.fullname = function () {
				return $scope.lastName+$scope.firstName;
			}
		});
	</script>
</body>
</html>